.card-car{
    width: 746px;
    height: 352px;
    border: 1px solid var(--color-blue);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-car img{
    width: 391px;
    height: 292px;
}

.card-car p{
    font-weight: bold;
    font-size: 20px;
    color: var(--color-grey);
}

@media(max-width: 320px){
    .card-car{
        width: 280px;
        height: 248px;
    }

    .card-car img{
        width: 260px;
        height: 194.46px;
    }

    .card-car p{
        font-size: 16px;
    }
}