nav{
    background-color: var(--color-blue);
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    color: var(--color-white);
    font-size: 24px;
}

@media(max-width: 320px){
    h1{
        font-size: 20px;
    }
}

