.card-comment{
    background-color: var(--color-white);
    width: 960px;
    height: 74px;
    border: 1px solid var(--color-blue);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-comment p{
    color: var(--color-blue);
    font-size: 16px;
}

@media(max-width: 320px){
    .card-comment{
        width: 280px;
        height: 146px;
    }

    .card-comment p{
        text-align: center;
    }
}